@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: 'Poppins';
    color: white;

}

/* Início - Banner 1 */

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid gray;

}

#banner #titulo {
    width: 95%;
    height: 80%;
    margin-top: 14px;
    margin-bottom: 14px;
}

/* Final -  Banner 1 */


/* Início - Introdução */

#introducao {
    display: flex;
    margin-top: 68px;
    height: 100%;
    color: white;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 2%;
    flex-wrap: wrap;

}

#introducao img {
    width: 50%;
    margin-left: 20px;
    cursor: pointer;

}

#introducao #text-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(83, 83, 83, 0.26);
    height: 400px;
    width: 450px;
    padding: 30px;
    margin-left: 50px;
    border-radius: 30px;
    border-top: 0.5px solid #5daeaf;
    border-right: 0.5px solid #797fc1;
    border-left: 0.5px solid #a9b6f0;
    border-bottom: 0.5px solid #ad75b3;
}

#introducao p {
    font-size: 19px;
    margin-top: 10px;

}

#introducao span {
    color: #5daeaf;

}

#introducao #um {
    color: #a9b6f0;

}

#introducao #dois {
    color: #b6dbb8;

}

#introducao #tres {
    color: #b6a28d;

}

#introducao #quatro {
    color: #797fc1;

}

#introducao #cinco {
    color: #c3b674;

}

#introducao #seis {
    color: #538e5e;

}

#introducao #sete {
    color: #ad75b3;

}

#introducao video {
    margin: auto;
    width: 70%;
    cursor: pointer;

}

/* Final - Introdução */


/* Início - Sobre os Desenvolvedores */

#text-desenvolvedores {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


#text-desenvolvedores #titulo {
    width: 50%;
    margin-left: 5%;

}

#conteudo {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: space-evenly;
    

}

#conteudo #text-intro-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(83, 83, 83, 0.26);
    padding: 2%;
    border-radius: 30px;
    border: 1px solid #d41b347a;
    width: 30%;
    font-size: 17px;
}

#conteudo #text-intro-dev #logo_team {
    width: 50%;
    margin-bottom: 30px;
    border-radius: 100px;
    opacity: 0.8;
}

#conteudo #text-intro-dev #link-team-cherry {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;

}

#conteudo #text-intro-dev #link-team-cherry #icon-team {
    width: 45px;
    border-radius: 180px;
}

#conteudo #text-dev-hollow {
    background-color: rgba(83, 83, 83, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-left: 50px;
    padding: 2%;
    border-radius: 30px;
    border: 1px solid #525668;
}

#conteudo #text-dev-hollow #img-zote {
    width: 30%;
    margin-top: 50px;

}

/* Final - Sobre os Desenvolvedores */

/* Início - Conquistas */

#conquistas_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;


}

#conquistas_div #titulo_conquista{ 
    width: 40%;
    margin-bottom: 90px;
    

}

#mosaico{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0;
}

#conquistas_div #mosaico{
    display: flex;

}

#mosaico #conquista_1,#conquista_2,#conquista_3,#conquista_4, #conquista_5 {
    width: 18%;
    display: flex;
    flex-direction: column;
    height: 200px;
    

}

#mosaico img{
    width: 80px;


}

#grafico{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

canvas {
    width: 90% !important;
    height: 100% !important;
}

/* Final -Conquistas */

/* Início - Mapas */


#mapas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 5%;
}    


#mapas #titulo-maps{
    width: 50%;
    margin-bottom: 50px;

}

/* Início - MAPA - Dirtmouth */


#dirtmouth{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 100px;
}


#imagem-dirtmouth{
    width: 45%;
    height: 100%;
    
}

#imagem-dirtmouth img{
    width: 100%;


}

#imagem-dirtmouth p{
    margin-top: 15px;


}

#text-dirtmouth{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 28, 28);
    border: 1px solid #566ca0;
    width: 46%;
    font-size: 20px;
    border-radius: 30px;
    padding: 1% 2%;
    align-items: center;
    justify-content: center;

}

#text-dirtmouth img{
    width: 60%; 
    margin-top: 10px;

}

/* Final - MAPA - Dirtmouth */

/* Início - MAPA - Encruzilhada */

#encruzilhada{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 100px;
}


#imagem-encruzilhada{
    width: 45%;
    height: 100%;
    
}

#imagem-encruzilhada img{
    width: 100%;


}

#imagem-encruzilhada p{
    margin-top: 15px;


}

#text-encruzilhada{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 28, 28);
    border: 1px solid #78a2b4;
    width: 46%;
    font-size: 20px;
    border-radius: 30px;
    padding: 1% 2%;
    align-items: center;
    justify-content: center;

}

#text-encruzilhada img{
    width: 60%; 
    margin-top: 10px;

}

/* Final - MAPA - Encruzilhada */

/* Início - MAPA - Caminho */

#caminho{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 50px;
}


#imagem-caminho{
    width: 45%;
    height: 100%;
    
}

#imagem-caminho img{
    width: 100%;


}

#imagem-caminho p{
    margin-top: 15px;


}

#text-caminho{
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 28, 28);
    border: 1px solid #1a695f;
    width: 46%;
    font-size: 20px;
    border-radius: 30px;
    padding: 1% 2%;
    align-items: center;
    justify-content: center;

}

#text-caminho img{
    width: 60%; 
    margin-top: 10px;

}

/* Final - MAPA - Caminho */

/* continuação - mapas - arquivo - mapas.css */