@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(5, 5, 5);
    border-bottom:1px solid rgb(48, 48, 48);

}

nav img{
    height: 60px;
    margin: 9px;
    

}

nav button{
    margin: 9px;
    height: 40px;
    width: 100px;
    font-family: 'Poppins';
    font-size: 20px;
    border-radius: 5px;
    border: 0px;
}

#botao_log{
    background-color: black;
    color: white;
    border: 1px solid white;


}

a{
    text-decoration: none;
    color: white;

}