@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: 'Poppins';
    color: white;

}